.summary {
    width: 300px;
    margin: 40px auto 20px;
    background-color: #2f2d2d;
    border-radius: 20px;
    padding: 8px 5px;
}

.summary h2 {
    text-align: center;
    margin: 10px 0;
}

.summary .lobbytype {
    display: block;
    padding-top: 12px;
}

ul.match_results {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #2f2d2d;
}

ul.match_results li.titles {
    background-color: gray;
}

ul.match_results li.titles span.img {
    height: 20px;
}

ul.match_results li {
    padding: 10px 15px;
    overflow: hidden;
}

ul.match_results li:nth-child(even) {
    background-color: #131212;
}

.radiant_table ul {
    border: 5px solid rgba(59, 155, 27, 0.8);
    border-top: none;
}

.radiant_table h2 {
    background-color: rgba(59, 155, 27, 0.8);
    margin: 0;
    padding: 8px 10px 25px;
    border-radius: 12px;
    position: relative;
    top: 12px;
    z-index: -1;
}

.dire_table {
    margin-top: 20px;
}

.dire_table ul {
    border: 5px solid rgba(147, 53, 35, 0.8);
    border-top: none;
}

.dire_table h2 {
    background-color: rgba(147, 53, 35, 0.8);
    margin: 0;
    border-radius: 12px;
    position: relative;
    top: 12px;
    z-index: -1;
    padding: 8px 10px 25px;
}

/*.dire_table ul {
    box-shadow: 0px 0px 80px 10px rgba(156, 77, 77, 0.44) inset;
}

.radiant_table ul {
    box-shadow: 0px 0px 80px 10px rgba(63, 138, 86, 0.58) inset;
}*/

ul.match_results li span {
    display: inline-block;
    vertical-align: middle;
}

ul.match_results li span.lvl {
    position: absolute;
    left: 49px;
    top: 22px;  
    text-shadow: 2px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

ul.match_results li span.kda {
    width: 10%; 
}

ul.match_results li span.gold {
    width: 10%;
}

ul.match_results li span.net {
    width: 7%;
    color: yellow;
}

ul.match_results li span.lh {
    width: 8%;
}

ul.match_results li span.dn {
    width: 20%;
}

ul.match_results li span.heal {
    width: 6%;
}

ul.match_results li span.hd {
    width: 7%;
}

ul.match_results li span.bd {
    width: 6%;
}

ul.match_results li span.img {
    width: 14%;
    position: relative;
}

ul.match_results li span.profile a {
    color: #ffffff;
    text-decoration: none;
}

ul.match_results li span.profile a:hover {
    color: #933523;
}


ul.match_results li span.img img {
    height: 40px;
    width: auto;
}


ul.match_results li span.backpack {
    float: right;
}

ul li span.item_img_1 img, ul li span.item_img_2 img, ul li span.item_img_3 img, ul li span.item_img_4 img, ul li span.item_img_5 img, ul li span.item_img_6 img {
    height: 28px;
    width: auto;
}

ul li span.item_img_7 img, ul li span.item_img_8 img, ul li span.item_img_9 img {
    height: 20px;
    width: auto; 
}

ul.match_list {
    list-style: none;
    padding: 0;
    width: 100%;
    background-color: #2f2d2d;
}

ul.match_list li {
    overflow: hidden;
    transition: background-color 0.5s ease;
}

ul.match_list li.no_matches {
    text-align: center;
    padding: 20px;
}

ul.match_list li:hover {
    background-color: #6d6d6d;
}

ul.match_list li.titles {
    background-color: grey;
    padding: 10px 15px;
}

ul.match_list li span {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

ul.match_list li span.heroimg {
    width: 53px;    
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

ul.match_list li span span {
    float: left;
    clear: both;
    width: 100%
}

ul.match_list li span:nth-child(8) {
    margin-left: 2%;
}

ul.match_list li span.result {    
    width: 16%;
}

ul.match_list li span.rad_heroes {
    width: 31%;
}

ul.match_list li span img {
    height: 30px;
    width: auto;
}

ul.match_list li a {   
    width: 100%; 
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    float: left;
    display: block;
    box-sizing: border-box;
}

.filters {
    margin: 0 auto;
    background-color: #2f2d2d;
    border-radius: 10px;
    padding: 15px;
}

.filters label {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;

}

.filters select {
    margin-right: 10px; 
    display: inline-block;
    vertical-align: middle;
}

.filters a {
    display: inline-block;
    vertical-align: middle;
}

.map {    
    margin-top: 30px; 
    position: relative;
    display: block;
    overflow: hidden;
    width: 500px;
}

.map img {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.map svg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 101;
}