<h1>Match List</h1>
<div class="filters">
    <label>Game Mode: </label><select (change)="getMatchDataByGameMode($event.target.value)">
        <option value="All Pick">All Pick</option>
        <option value="Captains Mode">Captains Mode</option>
        <option value="Random Draft">Random Draft</option>
    </select>
    <label>Lobby Type: </label><select (change)="getMatchDataByLobbyMode($event.target.value)">
        <option value="Public">Public Matchmaking</option>
        <option value="Ranked">Ranked Matchmaking</option>
        <option value="Solo Queue">Solo Queue</option>
        <option value="Tournament">Tournament</option>
    </select>
    <a (click)="getAllMatchData()">Clear Filters</a>
</div>
<ul class="match_list">
    <li class="titles">
        <span class="match_id">Match Id</span>
        <span class="result">Result</span>
        <span class="rad_heroes">Radiant Heroes</span>
        <span class="dire_heroes">Dire Heroes</span>
    </li>
    <li class="no_matches" *ngIf="matchData?.length==0"><p>No Matches Found</p></li>
    <li *ngFor="let match of matchData">
            <a routerLink="/match/{{match.match_id}}">
                <span class="matchid"><span>{{match.match_id}}</span><span>{{match.game_mode}}</span><span>{{match.lobby_type}}</span></span>
                <span class="result" *ngIf="match.radiant_win == true"> <span class="radiant">Radiant Victory</span><span>{{match.start_time}}</span> </span>
                <span class="result" *ngIf="match.radiant_win == false"> <span class="dire">Dire Victory </span><span>{{match.start_time}}</span></span>
                <span class="heroimg" *ngFor="let hero of match.players">
                    <img src="/images/heroes/{{hero.hero_id}}.jpg" />
                </span>
            </a>
    </li>
</ul>