body {
  /*font-family: 'Montserrat', sans-serif;
  font-family: 'Play', sans-serif;
  font-family: 'Exo', sans-serif;
  font-family: 'Audiowide', cursive;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Monoton', cursive;*/
  font-family: 'Play', sans-serif;
  margin: 0;
  background-color: #4e4545;
  color: #ffffff;
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

h1 {
  color: #933523;
  font-family: 'Montserrat', sans-serif;
}

input {
  padding: 5px;
}

a:hover {
  cursor: pointer;
}

.error {
  background-color: #fd7272;
  text-align: center;
  padding: 10px;
  border-radius: 5px; 
}

.button {
  transition: background-color 0.5s ease;
  color: #fff;
  text-align: center;
  padding: 12px 15px;
  background-color: #933523; 
}

.button:hover {
  background-color: #dc4022;
  cursor: pointer;
}

.radiant {
    color: lawngreen;
}

.dire {
    color: red;
}

.page {
  padding: 0 0 30px;
  overflow: hidden;
  width: 922px;
  margin: 0 auto;
}

.page_block {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  overflow: hidden;
}

.title_header {
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  padding: 20px;
  margin-top: 20px
}

.menu_overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.menu_container {
  margin-bottom: 30px;
  overflow: hidden;
  width: 922px;
  margin: 0 auto;
}

.menu_container .menu_icon {
  width: 7%;
  float: left;
  background-color: #000000;    
}

.menu_container .menu_icon img {
  height: 45px;
  margin: 7px 10px 7px 0px;
  display: block;
}

.menu_container ul.menu {
  list-style: none;
  width: 69%;
  height: 60px;
  float: left;
  display: table;
  padding: 0;
  margin: 0;
}

.menu_container ul.menu li {
  float: left;
  color: #ffffff;
  list-style: none;
}

.menu_container ul.menu li a {
  transition: background-color 0.5s ease;
  background-color: #000000;    
  height: 60px;
  box-sizing: border-box;
  color: #ffffff;
  padding: 20px 15px;
  text-align: center;
  display: block;
  text-decoration: none;
}

.menu_container ul.menu li a:hover {
  background-color: #933523;
}

.menu_container ul.menu li a.active {
   background-color: #ffffff;
   color: #000000;
}

.menu_container ul.account {
  float: left;
  width: 24%;
  padding: 12px;
  height: 60px;
  box-sizing: border-box;
  margin: 0;
  background-color: #2f2d2d; 
}

.menu_container ul.account li {
  list-style: none;
  text-align: center;
}

.menu_container ul.account li a {
  margin-left: 7px;
}

.menu_container ul.account li a.login {
  margin: 5px 0;
  vertical-align: middle;
  display: inline-block;
}

.menu_container ul.account li a.login span {
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}

.menu_container ul.account li a.login .fa {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
}

.menu_container ul.account .account_image {
  overflow: hidden;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #ffffff;
}

.menu_container ul.account a {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
}

.menu_container ul.account a:hover {
  color: #933523;
}

.loading {
  text-align: center;
  display: block
}

footer {
  height: 50px;
  padding: 30px;
  background-color: #000000;
  border-top: 5px solid #ffffff;
}